
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Quiz World</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <!-- Anonymous users -->
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/}">🏠 Home</a>
                    </li>

                    <!-- Admin users -->
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin}">🏠 Home</a>
                    </li>

                    <!-- Students -->
                    <li class="nav-item" sec:authorize="hasRole('PARTICIPANT')">
                        <a class="nav-link" th:href="@{/participants}">🏠 Home</a>
                    </li>

                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link disabled" href="#">
                            <span sec:authentication="principal.authorities"
                                  th:text="${#strings.replace(#authentication.principal.authorities[0].authority, 'ROLE_', '')}"></span>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link disabled" href="#">
                            <span sec:authentication="name"></span>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-sm btn-outline-light" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>